#main{
    text-align: center;
}


.colour{
    height:60px;
    border-radius: 100%;
    width:50px;
}


#grey{
    background-color: grey;
}

#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}

